<div class="cup">
  <div class="top" style="top:0px">
    <div class="top-wrapper clearfix">
      <div class="logo fl clearfix">
        <div class="logo-bd"></div>
      </div>
      <div class="search fl">
        <div class="search-wrapper">
          <div class="search-bd">
            <div class="search-tab clearfix">
              <ul>
                <li class="nav-item nav-link active">宝贝</li>
                <li class="nav-item nav-link">天猫</li>
                <li class="nav-item nav-link">店铺</li>
              </ul>
            </div>
            <div class="search-panel input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text search-icon"><i class="fas fa-search "></i></span>
                </div>
                <input type="text" class="form-control search-input" placeholder="" >
                <div class="input-group-append">
                    <span class="input-group-text camera-icon"><i class="fas fa-camera"></i></span>
                    <button class="btn btn-outline-secondary search-button" type="button" id="button-addon2">搜索</button>
                  </div>
              </div>
          </div>
          <div class="search-text clearfix">
            <div class="search-hot">
              <a href="#">新款连衣裙</a>
              <a href="#">贝雷帽</a>
              <a href="#">四件套</a>
              <a href="#">潮流T恤</a>
              <a href="#">时尚女鞋</a>
              <a href="#">短裤</a>
              <a href="#">半身裙</a>
              <a href="#">男士靴</a>
              <a href="#">墙纸</a>
              <a href="#">耳机</a>
              <a href="#">时尚女包</a>
              <a href="#">沙发</a>
              <a href="3">男士外套</a>
            </div>
          </div>
        </div>
      </div>
      <div class="qr fr">
        <a
          href="https://www.taobao.com/m?spm=a21bo.2017.201858.1.5af911d9sQ7Waa">
          <span>手机淘宝</span>
          <img src="../../../../assets/image/shoujitao.png">
        </a>
      </div>
    </div>
  </div>
</div>
