<div class="cup">
  <div class="top" style="top:0px">
    <div class="top-wrapper clearfix">
      <div class="logo fl clearfix">
        <div class="logo-bd"></div>
      </div>
      <div class="search fl">
        <div class="search-wrapper">
          <div class="search-bd">
            <div class="search-tab clearfix">
              <ul>
                <li>宝贝</li>
                <li>天猫</li>
                <li>店铺</li>
              </ul>
            </div>
            <div class="search-panel ">
              <form class="search-field">
                  <i class="fas fa-search"></i>
                  <input placeholder="貂皮大衣女年轻款时尚">
                  <i class="fas fa-camera"></i>
                  <button>搜索</button>
              </form>
            </div>
          </div>
          <div class="search-text clearfix">
            <div class="search-hot">
              <a href="#">新款连衣裙</a>
              <a href="#">贝雷帽</a>
              <a href="#">四件套</a>
              <a href="#">潮流T恤</a>
              <a href="#">时尚女鞋</a>
              <a href="#">短裤</a>
              <a href="#">半身裙</a>
              <a href="#">男士靴</a>
              <a href="#">墙纸</a>
              <a href="#">耳机</a>
              <a href="#">时尚女包</a>
              <a href="#">沙发</a>
              <a href="3">男士外套</a>
            </div>
          </div>
        </div>
      </div>
      <div class="qr fr">
        <a
          href="https://www.taobao.com/m?spm=a21bo.2017.201858.1.5af911d9sQ7Waa">
          <span>手机淘宝</span>
          <img src="../../../../assets/image/shoujitao.png">
        </a>
      </div>
    </div>
  </div>
</div>
