.cup {
  width: 100%;
  height: 121px;
  background: #FFF;

  .top {
    background-color: #FFF;
    padding-top: 24px;
    height: 97px;

    .top-wrapper {
      width: 990px;
      height: 88px;
      margin: 0 auto;
      position: relative;
      padding-left: 218px;
      padding-right: 145px;

      .logo {
        width: 190px;
        height: 88px;
        margin-left: -218px;

        .logo-bd {
          width: 180px;
          height: 80px;
          background: url(../../../../assets/image/tapbao.png) 0 0 no-repeat;
          margin: 15px 35px;
        }
      }

      .search {
        width: 100%;
        height: 88px;
        font-size: 12px;

        .search-tab {
          color: #ff5000;
          margin-left: 18px;

          .nav-item {
            height: 25px;
            padding: 5px;
          }

          li {
            float: left;
            border-radius: 5px 5px 0 0;

            // height: 15px;
            &:nth-child(1) {
              background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
              color: #FFF;
            }

            &:nth-child(2) {
              margin-left: 8px;
              margin-right: 8px;
            }
          }

        }

        .search-panel {
          .search-icon {
            border-radius: 20px 0 0 20px;
            border: 2px solid #FF4200;
            border-right: none;
            background-color: transparent;


          }

          .camera-icon {
            background-color: transparent;
            border: 2px solid #FF4200;
            border-left: none;
          }

          .search-input {
            border: 2px solid #FF4200;
            border-left: none;
            border-right: none;
            font-size: 18px;
          }

          .search-button {
            background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
            border-radius: 0 20px 20px 0;
            border: 1px solid #FF4200;
            color: #FFF;
          }
        }

        .search-text {
          a {
            color: #3C3C3C;
          }

          margin-top: -10px;
          height: 18px;
          line-height: 18px;
        }

      }

      .qr {
        width: 76px;
        height: 88px;
        margin-right: -145px;
        text-align: center;
        font-size: 12px;

        a {
          color: #ff5000 !important;
        }

        img {
          width: 62px;
          height: 62px;
          margin-left: 6px;
        }
      }
    }
  }

}
