form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
  
    .full-width {
      width: 100%;
    }

    mat-radio-button{
        margin-right: 5px;
    }
  }