<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <h3 mat-dialog-title>{{title}}</h3>
  <div mat-dialog-content>
    <mat-input-container class="full-width">
      <input matInput type="text" placeholder="project name" formControlName="name">
    </mat-input-container>
    <mat-input-container class="full-width">
      <input matInput type="text" placeholder="project description" formControlName="desc">
    </mat-input-container>
    <app-image-list-select
          [cols]="6"
          [items]="coverImages"
          formControlName="coverImg">
      </app-image-list-select>
    <div mat-dialog-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
      <button type="button" mat-dialog-close mat-button>Close</button>
    </div>
  </div>
</form>
