mat-card {
  width: 600px;

  .full-width {
    width: 100%;
  }

  .text-align {
    text-align: end;
    margin: 10px;
  }

  mat-icon.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 12px;
    overflow: hidden;
  }
}
