<div class="main clearfix">
  <div class="main-left fl">
    <div class="main-left-inner clearfix">
      <div class="main-list fl">
        <ul>
          <li>
            <a href="#">女装</a> /
            <a href="#">男装</a> /
            <a href="#">内衣</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="#">鞋靴</a> /
            <a href="#">箱包</a> /
            <a href="#">配件</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="#">童装</a> /
            <a href="#">孕产</a> /
            <a href="#">用品</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="#">家电</a> /
            <a href="#">数码</a> /
            <a href="#">手机</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">美妆</a> /
            <a href="">洗护</a> /
            <a href="">保健品</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">珠宝</a> /
            <a href="">眼镜</a> /
            <a href="">手表</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">运动</a> /
            <a href="">户外</a> /
            <a href="">乐器</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">游戏</a> /
            <a href="">动漫</a> /
            <a href="">影视</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">美食</a> /
            <a href="">生鲜</a> /
            <a href="">零食</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">鲜花</a> /
            <a href="">宠物</a> /
            <a href="">农贸</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">工具</a> /
            <a href="">装修</a> /
            <a href="">建材</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">家具</a> /
            <a href="">家饰</a> /
            <a href="">家纺</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">汽车</a> /
            <a href="">二手车</a> /
            <a href="">用品</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">办公</a> /
            <a href="">DIY</a> /
            <a href="">五金电子</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">百货</a> /
            <a href="">餐厨</a> /
            <a href="">保洁</a>
            <i class="fas fa-chevron-right"></i>
          </li>
          <li>
            <a href="">学习</a> /
            <a href="">卡券</a> /
            <a href="">服务</a>
            <i class="fas fa-chevron-right"></i>
          </li>
        </ul>
        <div class="seemore" style="display: none;">
        </div>
      </div>
      <div class="main-core fl">
        <div class="core-top">
          <div id="carouselTop" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselTop" data-slide-to="0" class="active"></li>
              <li data-target="#carouselTop" data-slide-to="1"></li>
              <li data-target="#carouselTop" data-slide-to="2"></li>
              <li data-target="#carouselTop" data-slide-to="3"></li>
              <li data-target="#carouselTop" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active"data-interval="2000">
                <img src="../../../../assets/image/shishi.jpg" class="d-block
                  w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="2000">
                <img src="../../../../assets/image/jiajinwen.jpg" class="d-block
                  w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="2000">
                <img src="../../../../assets/image/liminhao.jpg" class="d-block
                  w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="2000">
                <img src="../../../../assets/image/hongmei.jpg" class="d-block
                  w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="2000">
                <img src="../../../../assets/image/minhao.jpg" class="d-block
                  w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselTop" role="button"
              data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselTop" role="button"
              data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="core-bottom">
          <div class="core-botttom-t">
            <span class="core-botttom-t-img fl"></span>
            <em>想生活上天猫</em>
            <strong><i>1</i>/6</strong>
          </div>
          <div class="core-botttom-b">
            <div class="core-bottom-b-l fl">
              <div id="carouselLeft" class="carousel slide"
                data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselLeft" data-slide-to="0"
                    class="active"></li>
                  <li data-target="#carouselLeft" data-slide-to="1"></li>
                  <li data-target="#carouselLeft" data-slide-to="2"></li>
                  <li data-target="#carouselLeft" data-slide-to="3"></li>
                  <li data-target="#carouselLeft" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active"data-interval="2000">
                    <img src="../../../../assets/image/shishi.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="../../../../assets/image/jiajinwen.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="../../../../assets/image/liminhao.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="../../../../assets/image/hongmei.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="../../../../assets/image/minhao.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselLeft"
                  role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselLeft"
                  role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="core-bottom-b-r fr">
              <div id="carouselRight" class="carousel slide"
                data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselRight" data-slide-to="0"
                    class="active"></li>
                  <li data-target="#carouselRight" data-slide-to="1"></li>
                  <li data-target="#carouselRight" data-slide-to="2"></li>
                  <li data-target="#carouselRight" data-slide-to="3"></li>
                  <li data-target="#carouselRight" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active"data-interval="2000">
                    <img src="../../../../assets/image/shishi.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="../../../../assets/image/jiajinwen.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="../../../../assets/image/liminhao.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="../../../../assets/image/hongmei.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="../../../../assets/image/minhao.jpg"
                      class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselRight"
                  role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselRight"
                  role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-right fr">
    <div class="right-one">
      <div class="memeber">
        <div class="member-top">
          <div class="avatar">
            <!-- <a href="#" class="avatar-pic"></a> -->
            <input type="file" class="avatar-pic">
          </div>
          <div class="nick">Hi!你好</div>
          <p class="tjb">
            <a href="//taojinbi.taobao.com/index.htm?auto_take=true">
              <i class="fas fa-donate"></i>领淘金币抵钱</a>
            <a href="//vip.taobao.com">会员俱乐部</a>
          </p>
        </div>
        <div class="member-bottom">
          <a [routerLink]="['/login']" class="member-btn fl">登录</a>
          <a [routerLink]="['/register']" class="member-btn fl">注册</a>
          <a href="#" class="member-btn fl">开店</a>
        </div>
      </div>
    </div>
    <div class="right-two">
      <a href="http://report.12377.cn:13225/toreportinputNormal_anis.do">网络有害信息举报专区</a>
    </div>
    <div class="right-three">
      <ul class="notice-top">
        <li class="notice1"><a href="#"></a>公告</li>
        <li class="notice2"><a href="#"></a>规则</li>
        <li class="notice3"><a href="#"></a>论坛</li>
        <li class="notice4"><a href="#"></a>安全</li>
        <li class="notice5"><a href="#"></a>公益</li>
      </ul>
      <div class="notice-btm">
        <ul class="notice-list1">
          <li>95公益周阿里、腾讯等六家公司同台联合做公益</li>
          <li>淘宝造物节之城市秘密</li>
          <li>聚划算88红包省钱卡</li>
        </ul>
        <ul class="notice-list2">
          <li>95公益周阿里、腾讯等六家公司同台联合做公益</li>
          <li>淘宝造物节之城市秘密</li>
          <li>聚划算88红包省钱卡</li>
        </ul>
        <ul class="notice-list3">
          <li>95公益周阿里、腾讯等六家公司同台联合做公益</li>
          <li>淘宝造物节之城市秘密</li>
          <li>聚划算88红包省钱卡</li>
        </ul>
        <ul class="notice-list4">
          <li>95公益周阿里、腾讯等六家公司同台联合做公益</li>
          <li>淘宝造物节之城市秘密</li>
          <li>聚划算88红包省钱卡</li>
        </ul>
        <ul class="notice-list5">
          <li>95公益周阿里、腾讯等六家公司同台联合做公益</li>
          <li>淘宝造物节之城市秘密</li>
          <li>聚划算88红包省钱卡</li>
        </ul>
      </div>
    </div>
    <div class="right-four">
      <ul class="conve-list">
        <li><a href="#"><i class="fas fa-donate"></i><p>充话费</p></a></li>
        <li><a href="#"><i class="fas fa-donate"></i><p>旅行</p></a></li>
        <li><a href="#"><i class="fas fa-donate"></i><p>车险</p></a></li>
        <li><a href="#"><i class="fas fa-donate"></i><p>游戏</p></a></li>
        <li><a href="#"><i class="fas fa-donate"></i><p>彩票</p></a></li>
        <li><a href="#"><i class="fas fa-donate"></i><p>电影</p></a></li>
        <li><a href="#"><i class="fas fa-donate"></i><p>酒店</p></a></li>
        <li><a href="#"><i class="fas fa-donate"></i><p>理财</p></a></li>
      </ul>
    </div>
    <div class="right-five">
      <h3>阿里APP<a>更多<i class="fas fa-chevron-right"></i></a></h3>
      <ul class="app-list">
        <li><a href=""><img src="../../../../assets/image/pic.jpg" alt=""></a></li>
        <li><a href=""><img src="../../../../assets/image/pic.jpg" alt=""></a></li>
        <li><a href=""><img src="../../../../assets/image/pic.jpg" alt=""></a></li>
        <li><a href=""><img src="../../../../assets/image/pic.jpg" alt=""></a></li>
        <li><a href=""><img src="../../../../assets/image/pic.jpg" alt=""></a></li>
      </ul>
    </div>
  </div>
</div>
