<div class="container">
  <div class="row justify-content-around">
    <div class="card" style="width: 150px;height: 150px;" [routerLink]="['/taobao']">
      <img src="../../../assets/image/pic.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card" style="width: 150px;height: 150px;" [routerLink]="['/taobao']">
      <img src="../../../assets/image/pic.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card" style="width: 150px;height: 150px;" [routerLink]="['/taobao']">
      <img src="../../../assets/image/pic.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card" style="width: 150px;height: 150px;" [routerLink]="['/taobao']">
      <img src="../../../assets/image/pic.jpg" class="card-img-top" alt="...">
    </div>
  </div>
</div>