<div class="container">
    <h1 class="title">login</h1>
    <p class="sub-title">Hello! Log in with your email.</p>
    <form>
        <div class="form-group">
            <label for="input-email">Email address:</label>
            <input type="email" id="input-email" class="form-control" placeholder="Email address">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" placeholder="Password">
        </div>
        <div class="remember-me">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="remember">Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">LOG IN</button>
    </form>
    <section>or enter with:
        <div class="social">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-weixin"></i></a>
            <a href="#"><i class="fab fa-qq"></i></a>
        </div>
    </section>
    <section>Don't have an account?
        <a href="#">Rigister</a>
    </section>
</div>

