<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container class="full-width">
        <input matInput type="text" placeholder="your email">
        <span matSuffix>@163.com</span>
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput type="password" placeholder="your password">
      </mat-input-container>
      <button mat-raised-button color="primary" type="button">Log In</button>
    </mat-card-content>
    <mat-card-actions class="text-align">
      <p>No account?<a [routerLink]="['/taskmanager/register']" >Register</a></p>
      <p>Forgot Password?<a href="#">find</a></p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        upupup
      </mat-card-title>
      <mat-card-subtitle>
        好好学习，天天向上
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../../assets/image/hongmei.jpg" art="">
    <mat-card-content>
     Good good study , day day up 
    </mat-card-content>
  </mat-card>
</form>
