form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  mat-card {
    width: 22em;
    margin: 5px;
    flex: 0 0 22em;

    .full-width {
      width: 100%;
    }

    .text-align{
      text-align: end;
      margin: 6px;
    }
  }
}
