form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  mat-card {
    height: 23em;
    flex: 0 0 20em;

    .full-width {
      width: 100%;
    }

    .text-align{
      text-align: end;
      margin: 10px;
    }
  }
}
