<div class="layer">
  <div class="layer-inner clearfix">
    <div class="tbh-qiang J_Module">
      <div class="qiang-inner">
        <h3 class="qiang-hd mod-hd com-hd">
          <em>淘抢购</em>
          <a href="https://qiang.taobao.com/" class="fl">
            <img class="mlogo fl" src="//img.alicdn.com/tfs/TB1UfJnb3oQMeJjy0FpXXcTxpXa-160-44.png" title="淘抢购">
          </a>
          <p>
            <span class="subtitle ml6">距结束<span class="countdown-wrapper"><span class="hour">00</span>:<span
                  class="minutes">24</span>:<span class="seconds">26</span></span></span>
          </p>
          <span class="tb-fn clearfix">
            <span class="switch">换一换</span>
            <a class="more" href="https://qiang.taobao.com/">更多<i class="fas fa-chevron-right"></i></a>
          </span>
        </h3>
        <ul class="list clearfix qiang-list">
          <li>
            <a href="//qiang.taobao.com/?itemId=603065870983">
              <div class="img-wrapper">
                <img src="//img.alicdn.com/tps/i3/O1CN013ga4z62IWhbm7joCt_!!0-juitemmedia.jpg_180x180q90.jpg_.webp"
                  alt="">
              </div>
              <div class="info">
                <h4>七匹狼男士羽绒服中长款厚外套</h4>
                <p class="title">前45件5折拍下346元</p>

                <div class="progress">
                  <div class="progress-bar" style="width: 26%"></div>
                </div>
                <div class="desc">
                  <span class="percentage">26%</span>
                  <span class="letter">已抢39件</span>
                </div>
                <div class="extra">
                  <span class="yan">￥</span>
                  <span class="cur">692</span>
                  <span class="price">￥1499.00</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="//qiang.taobao.com/?itemId=602925369435">
              <div class="img-wrapper">
                <img
                  src="//img.alicdn.com/tps/i4/353042333/O1CN01lQGdic1T6YaaJdlqo_!!353042333.jpg_180x180q90.jpg_.webp"
                  alt="">
              </div>
              <div class="info">
                <h4>聚天美意2019冬新款简约方跟套</h4>
                <p class="title">限200名5折</p>
                <div class="progress">
                  <div class="progress-bar" style="width: 4%"></div>
                </div>
                <div class="desc">
                  <span class="percentage">3%</span>
                  <span class="letter">已抢13件</span>
                </div>
                <div class="extra">
                  <span class="yan">￥</span>
                  <span class="cur">678</span>
                  <span class="price">￥1499.00</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="//qiang.taobao.com/?itemId=604159035130">
              <div class="img-wrapper">
                <img src="//img.alicdn.com/tps/i3/O1CN01SRZsi01uGAWul5lsE_!!2-juitemmedia.png_180x180q90.jpg_.webp"
                  alt="">
              </div>
              <div class="info">
                <h4>皮尔卡丹100%驼绒棉裤男冬季</h4>
                <p class="title">前50名5折</p>

                <div class="progress">
                  <div class="progress-bar" style="width: 19%"></div>
                </div>
                <div class="desc">
                  <span class="percentage">19%</span>
                  <span class="letter">已抢38件</span>
                </div>
                <div class="extra">
                  <span class="yan">￥</span>
                  <span class="cur">298</span>
                  <span class="price">￥578.00</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>