<div class="footer-end">
  <i class="end">END</i>
</div>
<div class="layer">
  <div class="layer-inner">
    <div class="helper">
      <div class="mod">
        <div class="mod-wrap">
            <h4>
                <i class="fas fa-shield-alt"></i>
                <span>消费者保障</span>
              </h4>
          <ul>
            <li><a href="">保障范围</a></li>
            <li><a href="">退货退款流程</a></li>
            <li><a href="">服务中心</a></li>
            <li><a href="">更多特色服务</a></li>
          </ul>
        </div>
      </div>
      <div class="mod">
        <div class="mod-wrap">
          <h4>
              <i class="fas fa-wallet"></i>
            <span>新手上路</span>
          </h4>
          <ul>
            <li><a href="http://vip.taobao.com/new.htm">新手专区</a></li>
            <li><a href="http://315.taobao.com/">消费警示</a></li>
            <li><a href="http://bbs.taobao.com/catalog/424023-49511-1.htm">交易安全</a></li>
            <li><a href="http://service.taobao.com/support/minerva/beta_robot_main.htm">24小时在线帮助</a></li>
            <li><a href="http://mai.taobao.com/seller_admin.htm">免费开店</a></li>
          </ul>
        </div>
      </div>
      <div class="mod">
        <div class="mod-wrap">
          <h4>
              <i class="fas fa-wallet"></i>
            <span>付款方式</span>
          </h4>
          <ul>
            <li><a href="https://payservice.alipay.com/intro/index.htm?c=kjzf">快捷支付</a></li>
            <li><a href="https://payservice.alipay.com/intro/index.htm?c=xyk">信用卡</a></li>
            <li><a href="https://payservice.alipay.com/intro/index.htm?c=yeb">余额宝</a></li>
            <li><a href="https://payservice.alipay.com/intro/index.htm?c=hb">蚂蚁花呗</a></li>
            <li><a href="http://www.taobao.com/go/chn/tb-fp/2014/tbcod.php">货到付款</a></li>
          </ul>
        </div>
      </div>
      <div class="mod">
        <div class="mod-wrap">
          <h4>
              <i class="fas fa-wallet"></i>
            <span>淘宝特色</span>
          </h4>
          <ul>
            <li><a href="http://www.taobao.com/m">手机淘宝</a></li>
            <li><a href="https://alimarket.taobao.com/markets/qnww/portal-group/ww/index">旺旺/旺信</a></li>
            <li><a href="http://pan.taobao.com/">大众评审</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>