.footer-end{
    height: 50px;
    background:#f4f4f4 ;
    position: relative;
    .end{
        position: absolute;
        text-align: center;
        left: 50%;
        width: 84px;
        margin-left: -42px;
        font-size: 18px;
        top: 20px;
        color: #ccccd0;
        font-style: normal;
    }
}

.layer{
    width: 990px;
    margin: 0 auto;
    .layer-inner{
        margin-top: 10px;
        .helper{
            padding-top: 40px;
            height: 140px;
            .mod{
                float: left;
                width: 25%;
                margin-right: -1px;
                .mod-wrap{
                    padding:0 25px;
                    h4{
                        margin-bottom: 5px;
                        i{
                            float: left;
                            font-size: 32px;
                        }
                        span{
                            margin-left: 12px;
                            padding-top: 12px;
                            font-size: 16px;
                        }

                    }

                    li{
                        display:inline-block;
                        zoom: 1;
                        vertical-align: top;
                        margin-right: 10px;
                        line-height: 21px;
                        letter-spacing: normal;
                        word-spacing: normal;
                        float: none;
                        width: auto;
                        a{
                            font-size: 12px;
                            color:#999 ;
                        }
                    }
                }
            }
        }
    }
}
