<mat-list>
  <h3 mat-subheader>Project</h3>
  <mat-list-item>
    <mat-icon svgIcon="projects"></mat-icon>
    <span mat-line> project home</span>
    <span mat-line mat-subheader> view all projects</span>
  </mat-list-item>
  <h3 mat-subheader>Date</h3>
  <mat-list-item>
    <span>Date home</span>
  </mat-list-item>
  <mat-list-item>
    <span>Monthly</span>
  </mat-list-item>
  <mat-list-item>
    <span>Weekly</span>
  </mat-list-item>
  <mat-list-item>
    <span>Daily</span>
  </mat-list-item>
</mat-list>
